<!DOCTYPE html>
<html data-ng-app="myapp">
    <head>
        <meta charset="utf-8">
        <title>My App</title>

        <!-- this comment is key for inject css file to this -->
        <!-- injector:css -->
        <!-- endinjector -->
    </head>
    <body>
        <div class="wrapper">
            <div data-ng-view data-ng-cloak></div>
        </div>

        <!-- this comment is key for inject js file to this -->
        <!-- injector:js -->
        <!-- endinjector -->
    </body>
</html>
